body{ 
    background-image: url(Background.jpg)
} 

h1{ 
    text-align:center;
	color:black;
	font-size:40px;	
}

	 

p{ 
   color:#030bfc;
   font-family:cursive;
   font-size:20px;
   
  
   
}  
h2{ 

    font-size:25px;
	font-family:sans-serif;
	color:#de0012;
	margin-top: 20px;
	 text-decoration:underline;

 
} 
h3{
	font-size:24px;
	font-family:monospace;
	color:#9402f5;
	
} 
li{ 

   font-family:cursive;
   font-size:20px;
   
}
.no1{ 
    
	border:10px;
	border-style:solid;
	border-color:#b83d39;
	width:200px;
	height:200px;
	margin-left:600px;
	border-radius:50px;

	
	
} 



.no{
	
	width: 200px;
	height: 200px;
	border-radius:60px;
	float:left;
	margin:10px;
	border-style:solid;
	border-color:#02f50f;
	
	
	
}
hr{ 
   
     width:100%;
	 
} 
